body { 
    color : rgb(19, 18, 18); 
    background-color: gray;
}

h1 {
    text-align: center;
}

h2 {
    text-decoration: underline;
    font-size: x-large;
    text-align: center
}

h3 {
    text-align: center;
}

.entity-name {
    font-size: large;
    font-weight:bold

}

.title {
    font-style: italic;
    font-size: medium;
}

.date {
    font-style: italic;
    font-size: medium;
}

.email-address {
    text-align: center;
}


ul {
    display: table; 
    margin: auto;
    text-align: left;
    width: 77%;
}

div {
    text-align: center;
}

.skills {
    display: table; 
    margin: auto;
    text-align: left;
    width: 25%;
}






